<div id="chart" class="chart">
    <div class="chart__header">
        <div class="chart__header__info">
            <i class="fa fa-question-circle"></i>
        </div>
        <h4 class="chart__header__title">Carrinho(5)</h4>
        <div class="chart__header__close">
            <button type="button" id="closeChartBtn">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="chart__warning">
        Faltam R$ 0,10 para você ganhar frete <span class="text-uppercase">Grátis</span>
    </div>
    <div class="chart__products">
        <div class="chart__products__item">
            <a class="chart__products__item__remove" role="button" href="#"><i class="fa fa-close"></i></a>
            <div class="chart__products__item__img">
                <img src="../images/produtos/anelouro32d.png" alt="">
            </div>
            <div class="chart__products__item__caption">
                <h2 class="chart__products__item__caption__title">Anel Solitário de Ouro com Topázio Azul redondo</h2>
                <div class="chart__products__item__info">
                    <span class="color-gray-100">Tam: Aro 22</span>
                    <span class="color-gray-100">Cor: Dourado/Azul</span>
                </div>
                <div class="chart__products__item__quantity">
                    <div>
                        <a class="btn btn-primary--outline chart__products__item__quantity__control" role="button" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <span class="chart__products__item__quantity__number">1</span>
                        <a class="btn btn-primary--outline chart__products__item__quantity__control" role="button" href="#">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>

                    <div>
                        <span class="font-weight-bold">R$ 11.490,00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart__products__item">
            <a class="chart__products__item__remove" role="button" href="#"><i class="fa fa-close"></i></a>
            <div class="chart__products__item__img">
                <img src="../images/produtos/anelouro32d.png" alt="">
            </div>
            <div class="chart__products__item__caption">
                <h2 class="chart__products__item__caption__title">Anel Solitário de Ouro com Topázio Azul redondo</h2>
                <div class="chart__products__item__info">
                    <span class="color-gray-100">Tam: Aro 22</span>
                    <span class="color-gray-100">Cor: Dourado/Azul</span>
                </div>
                <div class="chart__products__item__quantity d-flex">
                    <div>
                        <a class="chart__products__item__quantity__control btn btn-primary--outline" role="button" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <span class="chart__products__item__quantity__number">1</span>
                        <a class="chart__products__item__quantity__control btn btn-primary--outline" role="button" href="#">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>

                    <div>
                        <span class="font-weight-bold">R$ 11.490,00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart__bottom">
        <div class="chart__bottom__item">
            <div class="d-flex justify-content-between">
                <div><span>Subtotal</span></div>
                <div><span class="font-weight-bold">R$ 46.710,00</span></div>
            </div>
        </div>
        <div class="chart__bottom__item bottom-cep">
            <div class="d-flex justify-content-between">
                <div>
                    <input class="mask-cep" type="text" placeholder="Digite seu CEP" value="13111-000">
                </div>
                <div>
                    <span class="font-weight-bold">12,00</span>
                </div>
            </div>
        </div>
        <div class="chart__bottom__item">
            <div class="d-flex justify-content-between">
                <div><span>Total</span></div>
                <div><span class="font-weight-bold">R$ 46.710,00</span></div>
            </div>
        </div>

        <div class="chart__bottom__check-in">
            <button class="btn btn-primary w-100 text-uppercase py-3 pb-3">Ir para o pagamento</button>
        </div>
    </div>
</div>