<footer id="main-footer" class="main-footer">
    <div class="main-footer__info">
        <div class="container">
            <div class="main-footer__info__newsletter">
                <h3 class="main-footer__title mb-5  wow fadeInUp">
                    Newsletter
                </h3>

                <form action="" class="main-footer__info__newsletter__form  wow fadeInUp">
                    <input type="text" placeholder="Cadastre seu e-mail">
                    <button type="submit">Assinar <i class="ml-4 fa fa-chevron-right" aria-hidden="true"></i></button>
                </form>
                <a href="./politicaprivacidade.html"
                    class="main-footer__info__newsletter__privacy wow faedInUp">Consulte nossa
                    Politíca de Privacidade</a>
            </div>

            <div class="main-footer__info__links">
                <div class="row">
                    <div class="col-lg-4 main-footer__info__links__brand wow fadeInUp">
                        <img src="../images/brands/finger-white.png" alt="">
                    </div>

                    <div class="col-lg-3 col-sm-4">
                        <h4 class="main-footer__title wow fadeInUp mb-4">
                            Navegação
                        </h4>
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <ul class="main-footer__info__links__list wow fadeInUp">
                                    <li><a href="">Home</a></li>
                                    <li><a href="">Produtos</a></li>
                                    <li><a href="">Novidades</a></li>
                                    <li><a href="">Masculino</a></li>
                                    <li><a href="">Nossas peças</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-6">
                                <ul class="main-footer__info__links__list wow fadeInUp">
                                    <li><a href="">Acessórios</a></li>
                                    <li><a href="">Ofertas</a></li>
                                    <li><a href="">Sobre</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="">Carrinho</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4">
                        <h4 class="main-footer__title wow fadeInUp mb-4">
                            Ajuda
                        </h4>
                        <ul class="main-footer__info__links__list wow fadeInUp">
                            <li><a href="">Formas de Pagamento</a></li>
                            <li><a href="">Garantia</a></li>
                            <li><a href="">Devolução e Troca</a></li>
                            <li><a href="">Perguntas Frequentes</a></li>
                            <li><a href="">Fale Conosco</a></li>
                        </ul>
                    </div>


                    <div class="col-lg-3 col-sm-4">
                        <h4 class="main-footer__title wow fadeInUp mb-4">
                            Fique por dentro
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="main-footer__info__links__social wow fadeInUp">
                                    <li><a class="main-footer__info__links__social__item " href=""><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="main-footer__info__links__social__item " href=""><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li><a class="main-footer__info__links__social__item " href=""><i
                                                class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="main-footer__copyright">
        <div class="container-fluid">
            <p class="wow fadeInUp">©2018 Skiny, Todos os direitos reservados</p>
            <img class="wow fadeInUp" src="../images/brands/sorocabacom.png" alt="Logo Sorocabacom">
        </div>
    </div>
</footer>