<header id="main-header" class="main-header">
    <div class="main-header__announ">
        <div class="container">
            <h5 class="main-header__announ__text">Frete com 50% de desconto em compras acima de R$ 150,00</h5>
            <h5 class="main-header__announ__text">Frete grátis nas compras acima de R$ 300,00 </h5>
        </div>
    </div>
    <div class="main-header__tools">
        <div class="container-fluid">
            <form class="main-header__tools__search">
                <input type="text" name="search">
                <button type="submit"></button>
            </form>

            <div class="main-header__brand">
                <img src="../" alt="">
            </div>

            <div class="main-header__tools__icons">
                <a class="main-header__tools__icons__item">
                    <i class="fa fa-hearth"></i>
                </a>
                <button id="toggleChartBtn " class="main-header__tools__icons__item">
                    <i class="fa fa-chart"></i>
                </button>
                <a class="main-header__tools__icons__item">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </div>
    </div>
    <nav id="main-nav" class="main-header__nav main-nav">
        <div class="container">
            <ul class="main-nav__list">
                <li class="main-nav__list__item git"><a href="./ofertas.html">Ofertas</a></li>
                <li class="main-nav__list__item git"><a href="./novidades.html">Novidades</a></li>
                <li class="main-nav__list__item git"><a href="./produtos.html">Produtos</a></li>
                <li class="main-nav__list__item git"><a href="./masculino.html">Masculino</a></li>
                <li class="main-nav__list__item git"><a href="./nossaspecas.html">Nossas peças</a></li>
            </ul>
        </div>
     </nav>
</header>