<footer id="main-footer" class="main-footer">
    <div class="main-footer__info">
        <div class="container">
            <div class="main-footer__info__newsletter">
                <h3 class="main-footer__title mb-4">
                    Newsletter
                </h3>

                <form action="" class="main-footer__info__newsletter__form">
                    <input type="text" placeholder="Cadastre seu e-mail">
                    <button type="submit">Assinar <i class="ml-4 fa fa-chevron-right" aria-hidden="true"></i></button>
                </form>
                <a href="./politicaprivacidade.html" class="main-footer__info__newsletter__privacy">Consulte nossa
                    Politíca de Privacidade</a>
            </div>

            <div class="main-footer__info__links">
                <div class="row">
                    <div class="col-lg-4 main-footer__info__links__brand">
                        <img src="../images/brands/finger.png" alt="">
                    </div>

                    <div class="col-lg-3">
                        <h4 class="main-footer__title mb-2">
                            Navegação
                        </h4>
                        <div class="row">
                            <div class="col-6">
                                <ul class="main-footer__info__links__list">
                                    <li><a href="">Home</a></li>
                                    <li><a href="">Produtos</a></li>
                                    <li><a href="">Novidades</a></li>
                                    <li><a href="">Masculino</a></li>
                                    <li><a href="">Nossas peças</a></li>
                                </ul>
                            </div>
                            <div class="col-6 pl-0">
                                <ul class="main-footer__info__links__list">
                                    <li><a href="">Acessórios</a></li>
                                    <li><a href="">Ofertas</a></li>
                                    <li><a href="">Sobre</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="">Carrinho</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <h4 class="main-footer__title mb-2">
                            Ajuda
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="main-footer__info__links__list">
                                    <li><a href="">Formas de Pagamento</a></li>
                                    <li><a href="">Garantia</a></li>
                                    <li><a href="">Devolução e Troca</a></li>
                                    <li><a href="">Perguntas Frequentes</a></li>
                                    <li><a href="">Fale Conosco</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <h4 class="main-footer__title mb-2">
                            Fique por dentro
                        </h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="main-footer__info__links__social">
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="main-footer__copyright">
        <p>©2018 Skiny, Todos os direitos reservados</p>
        <img src="../images/brands/sorocabacom.png" alt="Logo Sorocabacom">
    </div>
</footer>