<ul class="user-panel-nav">
    <a href="./painel-meusdados.html" class="user-panel-nav__item">
      <span class="d-block text-uppercase font-weight-medium"><i class="fa fa-user-o"></i> Meus dados</span>
      <small class="color-gray-200">Veja e edite suas informações</small>
    </a>
    
    <a href="./painel-alterarsenha.html" class="user-panel-nav__item">
      <span class="d-block text-uppercase font-weight-medium"><i class="fa fa-key"></i> Alterar senha</span>
      <small class="color-gray-200">Altere a senha da sua conta</small>
    </a>

    <a href="./painel-meusdesejos.html" class="user-panel-nav__item">
      <span class="d-block text-uppercase font-weight-medium"><i class="fa fa-heart-o"></i> Meus desejos</span>
      <small class="color-gray-200">Produtos que você mais deseja</small>
    </a>

    <a href="./painel-meuspedidos.html" class="user-panel-nav__item">
      <span class="d-block text-uppercase font-weight-medium"><i class="fa fa-shopping-bag"></i> Meus pedidos</span>
      <small class="color-gray-200">Rastreie pedidos e inicie devoluções</small>
    </a>

    <a href="./painel-meusenderecos.html" class="user-panel-nav__item">
      <span class="d-block text-uppercase font-weight-medium"><i class="fa fa-map-marker"></i> Meus endereços</span>
      <small class="color-gray-200">Nos diga onde entregar o seu produto</small>
    </a>
    
    <a role="button" class="btn btn-primary--outline mt-4 w-100"><i class="fa fa-sign-out mr-2"></i> Sair</a>
  </ul>