.card{
    box-shadow: none;
    background-color: #fff;

    .card-header{
        background-color: #fff;
        border-color: rgb(104, 104, 104);
        padding: 10px 0;
        
        button{
            font-weight: bold;
            font-size: 15px;
            padding: 0;
            border:  none !important;
            background-color: transparent !important;
        }
    }
}