.main-footer {
    $footer-color: #e1e1e1;
    height: auto;
    color: $footer-color;

    a {
        color: $footer-color;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .8px;
        text-transform: uppercase;

        @media screen and (max-width: $bp-LG) {
            text-align: center;
        }
    }

    &__info {
        padding: 40px 0;
        background-color: black;

        &__newsletter {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px 0;
            margin-bottom: 120px;

            @media screen and (max-width: $bp-LG) {
                margin-bottom: 80px;
            }

            &__privacy {
                margin-top: 30px;
                font-size: 14px;
                font-weight: lighter;
                letter-spacing: .4px;
                @include transition();

                &:hover {
                    @include scale(1.01);
                }
            }

            &__form {
                width: 60%;
                position: relative;

                @media screen and (max-width: $bp-LG) {
                    width: 90%;
                }

                button {
                    position: absolute;
                    right: -5px;
                    top: 0px;
                    background: none;
                    border: none;
                    color: $footer-color;
                    font-weight: lighter;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-size: 14px;
                    @include transition();

                    &:hover {
                        @include scale(1.01);
                    }

                    i {
                        font-size: 10px;
                    }
                }

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1.5px solid $footer-color;
                    background-color: transparent;
                    padding-bottom: 10px;
                    font-weight: lighter;
                    color: $footer-color;

                    &::placeholder {
                        color: $footer-color;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &__links {
            &__brand {
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: $bp-LG) {
                    margin-bottom: 80px;
                }

                img {
                    width: 60%;
                    object-fit: contain;
                }
            }

            &__list {
                font-size: 13px;
                margin-bottom: 20px;

                @media screen and (max-width: $bp-LG) {
                    text-align: center;
                }


                li {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }

                a {
                    color: $footer-color;
                    @include transition();

                    &:hover {
                        color: #cfcfcf;
                        @include scale(1.01);
                    }
                }
            }

            &__social {
                display: flex;
                justify-content: space-between;
                width: 130px;


                @media screen and (max-width: $bp-LG) {
                    width: 100%;
                    justify-content: center;

                    li {
                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid $footer-color;
                    color: $footer-color;
                    @include transition();

                    i {
                        font-size: 15px;
                    }

                    &:hover {
                        background-color: $footer-color;
                        color: black;
                    }
                }
            }
        }
    }

    &__copyright {
        padding: 15px;

        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $bp-MD) {
                flex-direction: column;
            }
        }

        img {
            width: 170px;
        }

        p {
            margin-bottom: 0;
            font-weight: 600;
            color: black;
            font-size: 14px;
        }

        background-color: #fff;
    }
}