.main-nav {
    background-color: #fff;
    width: 100%;
    padding: 25px 0 40px 0;
    display: block;
    z-index: 5;
    

    @media screen and(max-width: $bp-LG) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        @media screen and(max-width: $bp-LG) {
            flex-direction: column;
        }

        &__item {
            display: block;
            padding: 10px 40px;
            font-size: 15px;
            line-height: 17px;
            text-transform: uppercase;
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.2px;
            @include transition(0.2s);

            @media screen and (min-width: 768px) and (max-width: 992px) {
                font-size: 14px;
            } 

            &.warning{
                color: $color-secondary;
                text-shadow: 0 0 .65px $color-secondary, 0 0 .65px $color-secondary;
            }
            
            &.active,
            &:hover,
            &:active {
                text-shadow: 0 0 .65px black;
            }

            a {
                color: inherit;
                width: 100%;
                display: block;
            }
        }
    }
}