.radio-color {
    input {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    
    .mask {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        @include transition();

        span {
            border-radius: 50%;
            width: 90%;
            height: 90%;
        }

        &:hover {
            @include scale(1.06);
        }
    }

    &:not(:last-child) {
        margin-right: 8px;
    }

    input:hover~.mask {
        border-color: rgb(92, 92, 92);
    }

    input:checked~.mask {
        border-color: black;
    }

}